{% comment %}
Liquid whitespace management is annoying, be careful when
trying to clean up how this looks; for more info, see:

https://shopify.github.io/liquid/basics/whitespace/
{% endcomment %}

{%- assign defaults = site.data.kaillera-servers.defaults -%}
{%- for region in site.data.kaillera-servers.servers -%}
{% for server in region[1] %}
{%- capture visible %}{{ server.visible | default: defaults.visible }}{% endcapture %}
{% if visible != '0' %}{{ server.name }} ({{ region[0] }})
{{ server.host | default: defaults.host }}:{{ server.port | default: defaults.port }};
{{- server.owner | default: defaults.owner -}};
{{- server.version | default: defaults.version -}};
{{- server.notes | default: defaults.notes -}};
{{- region[0] }} - {{ server.location | default: defaults.location -}}
{%- endif -%}
{%- endfor -%}
{%- endfor -%}
