$backgroundColor: #23272A;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$maxWidth: 800px;
$primaryColor: #f8ab17;
$secondaryColor: #7289da;
$tertiaryColor: #88e947;

a, h1, h2, h3, h4, p {
  text-align: center;
}

body {
  background: $backgroundColor;
  color: $primaryColor;
  font-family: $bodyFont;
}

.button {
  border: 2px solid rgba(0,0,0, 0.25);
  border-radius: 4px;
  color: $backgroundColor;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  margin: 4px 2px;
}

.button:hover {
  filter: brightness(120%);
}

.discord {
  background-color: $secondaryColor;
}

.disclaimer {
  position: absolute;
  bottom: 25px;
  font-size: small;
  text-align: center;
  width: 100%;
}

.guide {
  background-color: $primaryColor;
}

.netplay {
  background-color: $tertiaryColor;
}

.logo {
  max-width: $maxWidth;
  text-align: center;
}
