---
layout: null
footer_height: "234px"
---

@import url("main.css");

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
  
.body-content {
  padding: 10px;
  padding-bottom: {{ page.footer_height | default: "100px" }};
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: {{ page.footer_height | default: "100px" }};
}