/* taken from https://mdbootstrap.com/ */
code.badge {
    background-color: var(--md-primary-fg-color);
    border-radius: .27rem;
    color: var(--md-primary-bg-color);
    display: inline-block;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    padding: .35em .65em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

code.badge:empty {
    display: none;
}

code.badge-invert {
    background-color: var(--md-code-bg-color);
    border-radius: .27rem;
    color: var(--md-primary-fg-color);
    display: inline-block;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    padding: .35em .65em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

code.badge-invert:empty {
    display: none;
}
